In [1]:
import pandas as pd

In [2]:
courseEra_df = pd.read_csv('data/Coursera.csv')
edx_df = pd.read_csv('data/edx.csv')
skillshare_df = pd.read_csv('data/skillshare.csv')
udemy_df = pd.read_csv('data/Udemy.csv')

In [9]:
dfs = [courseEra_df, edx_df, udemy_df, skillshare_df]

for df in dfs:
    print('\n')
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   partner            1139 non-null   object
 1   course             1139 non-null   object
 2   skills             1088 non-null   object
 3   rating             993 non-null    float64
 4   reviewcount        993 non-null    object
 5   level              1004 non-null   object
 6   certificatetype    1116 non-null   object
 7   duration           1116 non-null   object
 8   crediteligibility  1139 non-null   bool
dtypes: bool(1), float64(1), object(7)
memory usage: 72.4+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               784 non-null    object
 1   link                816 non-null    object
 2   institution         784 non-null    object
 3   subject             815 non-null    object
 4   level               816 non-null    object
 5   prerequisites       433 non-null    object
 6   language            816 non-null    object
 7   videotranscript     725 non-null    object
 8   associatedprograms  456 non-null    object
 9   associatedskills    735 non-null    object
dtypes: object(10)
memory usage: 63.9+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26256 entries, 0 to 26255
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        26256 non-null  object
 1   description  26252 non-null  object
 2   instructor   26256 non-null  object
 3   rating       26256 non-null  float64
 4   reviewcount  26256 non-null  int64
 5   duration     26256 non-null  object
 6   lectures     26255 non-null  object
 7   level        25889 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.6+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Title             1080 non-null   object
 1   URL               1080 non-null   object
 2   students count    1080 non-null   object
 3   course duration   1080 non-null   object
 4   instructor        1080 non-null   object
 5   lessions count    1080 non-null   object
 6   level             1080 non-null   object
 7   student projects  1080 non-null   object
 8   engaging          1080 non-null   object
 9   clarity           1080 non-null   object
 10  quality           1080 non-null   object
dtypes: object(11)
memory usage: 92.9+ KB
None

In [8]:
edx_df.head()

,title,link,institution,subject,level,prerequisites,language,videotranscript,associatedprograms,associatedskills
0,How to Learn Online,https://www.edx.org/learn/how-to-learn/edx-how...,edX,Education & Teacher Training,Introductory,NaN,English,English,NaN,Learning Design
1,The Science of Happiness,https://www.edx.org/learn/happiness/university...,"University of California, Berkeley",Social Sciences,Introductory,None.,English,English,NaN,"Evolutionary Biology, Empathy, Psychology"
2,Remote Work Revolutionfor Everyone,https://www.edx.org/learn/remote-work/harvard-...,Harvard University,Business & Management,Introductory,NaN,English,NaN,Professional Certificate inLeading in a Remote...,"Customer Relationship Building, Telecommuting"
3,CS50's Introduction toComputer Science,https://www.edx.org/learn/computer-science/har...,Harvard University,Computer Science,Introductory,None.,English,English,Professional Certificate inComputer Science fo...,"Resource Management, JavaScript (Programming L..."
4,Data Visualization andBuilding Dashboards with...,https://www.edx.org/learn/data-visualization/i...,IBM,Data Analysis & Statistics,Introductory,NaN,English,NaN,Professional CertificateinData Analysis and Vi...,"Data Visualization, Data Analysis, IBM Cognos ..."